/***********************************
    TEST
***********************************/
.test, .test * {
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px dashed red;
}
/***********************************
    FINE TEST
***********************************/
body {
    font-family: 'Roboto', sans-serif;
}
/***********************************
    MAIN CONTAINER
***********************************/
#my_main-container {
    height: calc(100vh - 70px);
}
/* navbar */
.my_navbar {
    height: 70px;
}

.logo-small {
    height: 38px;
}

.my_nav-link-dropdown::after {
    display: none;
}

.fa-bell {
    color: #FF8F00;
}
/* fine navbar */

/* aside */
aside {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    width: 68px;
}

.aside-button {
    cursor: pointer;
    transition: background-color .2s ease;
}
/* fine aside */

/* header */
.label {
    background-color: #165BBA;
}
/* fine header */

/***********************************
    FINE MAIN CONTAINER
***********************************/

/***********************************
    MEDIA QUERY
***********************************/
@media screen and (min-width:992px) {
    aside {
        width: 150px;
    }

    .aside-button:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
}
/***********************************
    FINE MEDIA QUERY
***********************************/