/***********************************
    TEST
***********************************/
.test, .test * {
    background-color: rgba(255, 0, 0, 0.5);
    border: 2px dashed red;
}
/***********************************
    FINE TEST
***********************************/

/***********************************
    MAIN CONTAINER
***********************************/
#my_main-container {
    height: calc(100vh - 70px);
}
/* navbar */
nav {
    height: 70px;
}

.logo-small {
    height: 38px;
}

.my_nav-link-dropdown::after {
    display: none;
}

.fa-bell {
    color: #FF8F00;
}
/* fine navbar */

/* aside */
aside {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    /* test */
    width: 150px;
}
/* fine aside */

/* header */
header {
    background-color: #1B72E8;
    /* test */
    height: 123px;
}
/* fine header */
/***********************************
    FINE MAIN CONTAINER
***********************************/